<div class="media">
    <div class="media-body">
        <h4 class="media-heading">
        <%= question.language ? link_to(question.body, [question.language, question]) : question.body %>
        </h4>
        <small>
        submitted <%= time_ago_in_words(question.created_at) %> ago by <%= question.user.name %> <br/>
        <%= question.answers.count %> Answers
        </small>
    </div>
</div>