

<div class="row">
  <div class="col-md-8">
    <h3>Languages</h3>
    <% @languages.each do |language| %>
       <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
        <%= link_to language.name, language %>
          </h4>
        </div>
      </div>
    <% end %>
  </div>
<br/>
<br/>
 <div class="col-md-4">
    <% if policy(Language.new).create? %>
      <%= link_to "Add a Language", new_language_path, class: 'btn btn-success' %>
    <% end %>
  </div>


</div>


