<h1>Add a Language</h1>

 <div class="col-md-4">
    <%= form_for @language do |f| %>
      <div class="form-group">
        <% f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: "Enter language name here" %>
      </div>
      <%= f.submit "Save", class: 'btn btn-success' %>
    <% end %>
  </div>
</div>