<h1>User Rankings</h1>

<table>


  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

