<h1>About LanguageCheck</h1>
<br/>
<br/>
<div class="row">
  <div class="col-md-4">
    <h4>Need to send a text or email in another language?</h4>
    <p>Get a real person to check your grammar before you send it!</p>
  </div>
  <div class="col-md-4">
    <h4>Struggling with homework?</h4>
    <p>Ask for help!</p>
  </div>
  <div class="col-md-4">
    <h4>Just curious about how to translate a phrase?</h4>
    <p>Use LanguageCheck!</p>
  </div>
</div>