<br/>
<div class="jumbotron">
  <h1>LanguageCheck</h1>
  <p>Get help and help others with short language translations in any language!</p>
  <p>
      <%#= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> 
      <%#= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Need to send a text or email in another language?</h2>
    <p>Get a real person to check your grammar before you send it!</p>
  </div>
  <div class="col-md-4">
    <h2>Struggling with homework?</h2>
    <p>Ask for help!</p>
  </div>
  <div class="col-md-4">
    <h2>Just curious about how to translate a phrase?</h2>
    <p>Use LanguageCheck!</p>
  </div>
</div>
