<br/>
<div class="jumbotron">
  <h1>LanguageCheck</h1>
  <p>Get help and help others with short language translations in any language!</p><br/><br/><br/>
  <p><center>Free to SIGN UP and use!</center></p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
  </p>
</div>


