@import "*";
@import "bootstrap";
@import "font-awesome";

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 16px;
    margin-top: 5px;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-nav {
    margin: 7.5px 28px;
}
.navbar-nav.navbar-right:last-child {
    float: left;
    margin-right: 10px;
}
.user-info .btn-default {
    margin: -15px 0px 0 12px;
    background-color: #18bc9c;
    border-color: #18bc9c;
}
.nav {
    margin-top: 5px;
}
.remove {
    display: none;
}
.vote-arrows {
    width: 40px;
    text-align: center;
}
.navbar-brand {
    float: left;
}
.container {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-left: 33px !important;
}

/**/
.question {
    margin-top: 15px;
}
.media-body {
    margin-top: 10px;
}
.add-answer{
    margin-top: 30px;
}
#new a{
    color: #369;
}
#language_name {
    margin: 10px 0 0 -16px;
}
.add {
    margin-left: -16px;
}
#sign > a:visited {
    color: #fff;
}
#langstar {
    margin: 25px 1px !important;
    padding: 0;
    max-width: 130px !important;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}
.skills {
    font-family: Lato;
}
small img {
    margin-bottom: 10px;
}
.navbar {
    border-radius: 0px;
}
header .container {

    /**/
    min-height: 700px;
    height: auto !important;
    height: 700px;
    padding-top: 50px;
}
#question_body {
    width: 90%;
}
#user_email, #user_password, #user_password_confirmation, #user_current_password, #user_name {
    width: 50%;
}
.wrapper {
    margin: 31px 0px 0px 80px;
}
.wrapper2 {
    width: 1066px;
    margin: auto;
}
.navbar {
    margin-bottom: 0px;
}
.user-info {
    margin: 16px 0px 10px 9px;
}
#check {
    margin-top: 10px;
    width: 16%;
}
.nav {
    margin-top: -13px;
}
.name {
    margin-top: 32px;
}
.navbar-default {
    background-color: #2c3e50;
    border-color: transparent;
}
nav a:visited {
    color: #fff !important;
}
body {
    overflow-x: hidden;
}
p {
    font-size: 20px;
}
p.small {
    font-size: 16px;
}
a {
    color: #369;
}
nav a {
    color: #fff;
}
a:hover, a:focus, a:active, a.active {
    outline: 0;
    color: #369;
    text-decoration: none !important;
    background: none;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}
h1, h2, h3 {
    color: #333;
    text-transform: none;
}
h4 a {
    color: #369;
    text-transform: none;
}
h4 a:visited {
    color: #551a8b;
    text-transform: none;
}
.btn:visited {
    color: #fff !important;
}
.media-heading a {
    font-weight: 100;
}
hr.star-light, hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}
hr.star-light:after, hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}
hr.star-light {
    border-color: #fff;
}
hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}
hr.star-primary {
    border-color: #2c3e50;
}
hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}
header {
    text-align: center;
    color: #fff;
    background: #18bc9c;
}
header .container {
    padding-top: 100px;    /*
    padding-bottom: 50px;
    */
    height: 100%;
}
header img {
    display: block;
    margin: 0 auto 20px;
}
header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: 700;
}
header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}
@media(min-width:768px) {
    .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 16px;
        margin-top: 5px;
        float: right;
    }

    /*
    header .container {
    padding-top: 200px;
    padding-bottom: 100px;
    }
    */
    header .intro-text .name {
        font-size: 4.75em;
    }
    header .intro-text .skills {
        font-size: 1.75em;
    }
}
@media(min-width:768px) {
    .navbar-nav.navbar-right:last-child {
        margin-right: -125px;
    }
    .navbar-nav {
        margin: 7.5px 0px 7.5px 0px;
    }
    .container {
        margin-right: 0px !important;
        margin-left: 0px !important;
        padding-left: 80px !important;
    }
    .container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0px;
        margin-top: -61px;   /**/
    }
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }
    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }
    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}
.navbar {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}
.navbar a:focus {
    outline: 0;
}
.navbar .navbar-nav {
    letter-spacing: 1px;
}
.navbar .navbar-nav li a:focus {
    outline: 0;
}
.navbar-default, .navbar-inverse {
    border: 0;
}
@media (min-width: 1200px){
.col-lg-12 {
    width: 1200px;
    margin: auto;
}
}