.welcome-body {
    background-color: #F5F5F5;
}

.welcome-content {
  background-image: url("https://s3-us-west-1.amazonaws.com/languagecheckpic/1.jpg");
  background-repeat: no-repeat;
}

.front {
  padding-left: 2em;
}

.front-two {
  padding-left: 6em;
}

.btn {
  color: blue;
}