.welcome-body {
    background-color: #F5F5F5;
}

.welcome-content {
  background-image: url(http://i1371.photobucket.com/albums/ag283/valeriemettler/orangecheck_zps38b81df3.jpeg);
  background-repeat: no-repeat;

}

.front {
  padding-left: 2em;
}

.front-two {
  padding-left: 6em;
}

.btn {
  color: blue;
}