<% if policy( Vote.new ).create? %>
  <div class="vote-arrows pull-left">
    <div>
      <%= link_to " ", 
        post_up_vote_path(answer), 
        class: "glyphicon glyphicon-chevron-up #{(current_user.voted(answer) && current_user.voted(answer).up_vote?) ? 'voted' : '' }", method: :post %>
    </div>
    <div>
      <strong><%= answer.points %></strong>
    </div>
    <div>
      <%= link_to " ", 
        post_down_vote_path(answer), 
        class: "glyphicon glyphicon-chevron-down #{(current_user.voted(answer) && current_user.voted(answer).down_vote?) ? 'voted' : '' }" , method: :post%>
    </div>
  </div>
<% end %>